<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0&appId=653647752248119&autoLogAppEvents=1"
      nonce="jJH3tNc7"
    ></script>
    <script>
      function fbAuth() {
        location.href = "/auth/facebook";
      }
    </script>
    <div class="container login-container">
      <div class="row">
        <div class="col-md-6 login-form-1">
          <h3>Login from heroku</h3>
          <form action="/login" method="POST">
            <div class="form-group">
              <input
                name="username"
                type="text"
                class="form-control"
                placeholder="Tu nombre"
                id="username"
              /><br />
              <input
                name="password"
                type="password"
                class="form-control"
                placeholder="Tu password"
                id="password"
              />
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
          <div>
            <button class="btn" onclick="window.location.href='/register'">
              Register
            </button>
          </div>
          <br />
          <div>
            <a href="/auth/facebook" class="btn-primary btn"
              >Continue with Facebook</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
